/* src/ClozeTest.css */
.cloze-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .cloze-text {
    justify-content: left;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    width: 80%;
  }

  .cloze-block {
    display: inline-block;
    vertical-align: middle;
  }


  .cloze-text input {
    width: auto;
    max-width: 100px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
  }
  
  .cloze-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .cloze-button:hover {
    background-color: #0056b3;
  }

  .cloze-buttons {
    margin-top: 20px;
  }

  .reset-button,
  .back-button {
    margin-left: 10px;
    background-color: #ff0000;
  }
  
  .reset-button:hover,
  .back-button:hover {
    background-color: #cc0000;
  }

  .feedback {
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
  }
  