/* src/DragDrop.css */
.drag-drop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: justify;
}

.target-sentence {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 18px;
}

.words-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.draggable-word {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.drop-area {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
}

.placeholder {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.buttons-container {
  margin-top: 20px;
}

.check-button,
.reset-button,
.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.check-button:hover,
.reset-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.feedback {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
}
